.tituloPlayersInfo{
    margin-bottom: 1em;
}

.fondoEstrella{
    background: linear-gradient(
       to left,gold,rgba(255, 217, 0, 0.592),rgba(255, 217, 0, 0.305)
    );
    padding: 1em;
}

.fondoComun{
    background: linear-gradient(
        to right,lightblue,rgb(109, 190, 217),rgb(37, 181, 228)
     );
     padding: 1em;
}