.tituloPlayersInfo{
    margin-bottom: 1em;
}

.fondoEstrella{
    background: linear-gradient(
       to left,gold,rgba(255, 217, 0, 0.592),rgba(255, 217, 0, 0.305)
    );
    padding: 1em;
    border-radius: 20px;
}
